doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    title Chip8
  body(bgcolor='silver')
    canvas(id='canvas')
    br
    span(id='fps', style='margin-right: 10px') fps: 0
    span render: 
    select
      option(value='renderPixel32bit') RenderPixel32bit
      option(value='renderPixel8bit')  RenderPixel8bit
      option(value='renderFillRect')   RenderFillRect

    script(src='chip8.js')    
